In [7]:
import numpy as np
import pandas as pd

In [8]:
# use randomly created arrays and generate them within one column
ser = pd.Series(np.random.random(5), name = "Column 1")

In [9]:
# print the arrays
ser

0    0.156244
1    0.889873
2    0.070207
3    0.120026
4    0.431266
Name: Column 1, dtype: float64

In [10]:
ser[2]

0.07020679578496625

In [11]:
from pandas_datareader import data as wb

C:\Users\crfra\anaconda\Anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [12]:
# Connect to the world wide web using pandas_datareader 
from pandas_datareader import data as wb

In [13]:
# Consider web sources as string values for us to specifically look at certain databases
# For this exercise, we are going to pull Proctor & Gamble's Stock Price Information dating back to 1995
# Use DataReader to read Yahoo Web Package and specifically looking at Proctor & Gamble's Stock (PG)
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [14]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,8.313478
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,8.246841
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,8.130219
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,8.146880
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,8.113561
...,...,...,...,...,...,...
2020-05-04,117.199997,115.000000,117.089996,115.769997,5636000.0,115.769997
2020-05-05,117.260002,115.209999,115.800003,116.010002,5425200.0,116.010002
2020-05-06,116.139999,112.889999,115.540001,113.099998,7892200.0,113.099998
2020-05-07,114.139999,111.820000,114.059998,112.169998,8762800.0,112.169998
2020-05-08,116.300003,113.389999,113.519997,115.949997,8916350.0,115.949997

In [15]:
# examine the dataframe object
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6383 entries, 1995-01-03 to 2020-05-08
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       6383 non-null   float64
 1   Low        6383 non-null   float64
 2   Open       6383 non-null   float64
 3   Close      6383 non-null   float64
 4   Volume     6383 non-null   float64
 5   Adj Close  6383 non-null   float64
dtypes: float64(6)
memory usage: 349.1 KB

In [16]:
# View the first five rows of data
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   8.313478
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   8.246841
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   8.130219
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   8.146880
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   8.113561

In [17]:
# View the last five rows of data
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-05-04,117.199997,115.000000,117.089996,115.769997,5636000.0,115.769997
2020-05-05,117.260002,115.209999,115.800003,116.010002,5425200.0,116.010002
2020-05-06,116.139999,112.889999,115.540001,113.099998,7892200.0,113.099998
2020-05-07,114.139999,111.820000,114.059998,112.169998,8762800.0,112.169998
2020-05-08,116.300003,113.389999,113.519997,115.949997,8916350.0,115.949997

In [18]:
# View the last 20 days of data
PG.tail(20)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-04-13,116.750000,113.160004,113.610001,115.949997,7926700.0,115.181847
2020-04-14,121.470001,116.250000,118.760002,120.959999,10474200.0,120.158661
2020-04-15,123.419998,119.589996,120.860001,121.220001,14192900.0,120.416939
2020-04-16,122.500000,119.900002,122.349998,121.500000,12020200.0,120.695084
2020-04-17,124.989998,120.540001,122.449997,124.690002,15899800.0,123.863953
2020-04-20,123.230003,120.540001,121.470001,120.599998,10832000.0,119.801048
2020-04-21,120.300003,118.430000,119.500000,119.680000,9465400.0,118.887138
2020-04-22,120.279999,118.779999,119.989998,119.400002,10261000.0,118.609001
2020-04-23,119.669998,118.050003,118.650002,119.400002,17277000.0,119.400002
2020-04-24,119.760002,118.620003,119.099998,118.779999,12751900.0,118.779999
2020-04-27,119.190002,116.900002,119.190002,117.449997,10635700.0,117.449997
2020-04-28,117.910004,116.169998,117.099998,116.889999,9958000.0,116.889999
2020-04-29,118.050003,115.080002,117.519997,117.080002,8707900.0,117.080002
2020-04-30,118.279999,115.660004,115.919998,117.870003,10026400.0,117.870003
2020-05-01,118.370003,116.320000,117.599998,116.820000,7366400.0,116.820000
2020-05-04,117.199997,115.000000,117.089996,115.769997,5636000.0,115.769997
2020-05-05,117.260002,115.209999,115.800003,116.010002,5425200.0,116.010002
2020-05-06,116.139999,112.889999,115.540001,113.099998,7892200.0,113.099998
2020-05-07,114.139999,111.820000,114.059998,112.169998,8762800.0,112.169998
2020-05-08,116.300003,113.389999,113.519997,115.949997,8916350.0,115.949997

In [20]:
# Do this for five different companies/ticker symbols
tickers = ['PG','CHK','AA','T','NLY']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t, data_source = "yahoo", start = '1995-1-1')['Adj Close']

In [22]:
new_data.tail(20)

                    PG        CHK    AA          T   NLY
Date
2020-04-13  115.181847  32.000000  7.55  30.190001  6.08
2020-04-14  120.158661  26.000000  7.72  31.129999  5.98
2020-04-15  120.416939  16.379999  7.26  30.090000  5.71
2020-04-16  120.695084  15.560000  6.96  30.160000  5.62
2020-04-17  123.863953  14.450000  7.59  31.230000  6.02
2020-04-20  119.801048  14.380000  7.45  30.980000  5.82
2020-04-21  118.887138  17.770000  7.32  29.870001  6.14
2020-04-22  118.609001  20.180000  7.55  29.469999  6.03
2020-04-23  119.400002  27.490000  7.29  29.500000  5.87
2020-04-24  118.779999  39.939999  7.15  29.709999  5.92
2020-04-27  117.449997  31.500000  7.37  30.540001  5.95
2020-04-28  116.889999  29.180000  7.84  30.650000  6.26
2020-04-29  117.080002  26.850000  8.67  31.430000  6.38
2020-04-30  117.870003  17.500000  8.15  30.469999  6.25
2020-05-01  116.820000  14.980000  7.69  29.900000  6.13
2020-05-04  115.769997  15.570000  7.80  29.600000  6.12
2020-05-05  116.010002  15.470000  7.81  29.740000  6.28
2020-05-06  113.099998  14.850000  7.71  28.790001  6.04
2020-05-07  112.169998  14.600000  7.49  28.889999  6.09
2020-05-08  115.949997  14.700000  8.07  29.790001  6.21